<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="{{ MEDIA_URL }}assets/img/favicon.png"/>
	<title>House Gurú</title>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' href='{{ MEDIA_URL }}edd_templates/edd.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='{{ MEDIA_URL }}assets/css/bootstrap.min.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='{{ MEDIA_URL }}css/style.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='{{ MEDIA_URL }}assets/css/font-awesome.css' type='text/css' media='all'/>
	
	<!-- UNCOMMENT THE FOLLOWING LINE TO ACTIVATE THE BOXED LAYOUT (see the documentation for more)-->
	
	<!--
	<link href="assets/css/boxed.css" rel="stylesheet">
	-->	
	
	<!-- CHANGE THEME SKIN COLOR HERE (replace blue with any other color from assets/css/skins/ folder) -->
	<link href="{{ MEDIA_URL }}assets/css/skins/bluedark.css" rel="stylesheet">

</head>
<body>
	<div class="boxedlayout">

		<!-- HEADER
		================================================== -->
		<nav id="wow-menu" class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href='/'>
					<img alt="House Gurú" src="{{ MEDIA_URL }}assets/img/logo.png"/>
					</a>
				</div>
				<!-- Menu -->
				<div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
					<ul id="menu-top" class="nav navbar-nav navbar-right">
						<li class="active"><a href="/">Inicio</a></li>
						<li><a href="/categories">Servicios</a></li>
						<li><a href="/offerservice">Ofrecer Servicio</a></li>
						<li><a href="/about">Quiénes somos</a></li>
						{% if user.is_active %}
						<li><a href="/checkout/"><i class="fa fa-shopping-cart"></i> Carrito</a></li>
						<li class="dropdown"><a href="#">Hola {{ user.first_name }}!</a>
							<ul class="dropdown-menu">
								<li><a href="/account">Mi cuenta</a></li>
								<li><a href="/logout">Cerrar Sesión</a></li>
							</ul>
						</li>
                        {% else %}
                        <li class="dropdown"><a href="/#">Iniciar Sesión</a>
							<ul class="dropdown-menu">
								<li><a href="/register">Registrarse</a></li>
								<li><a href="/login">Login</a></li>
							</ul>
						</li>
                        {% endif %}
					</ul>
				</div>
			</div>
		</nav>
		
		<!-- PAGE CONTENT
		================================================== -->
		
		<!-- TITLE BEGINS -->
		<div class="headerimage homeimg text-center" style="background-image: url(http://static.businessinsider.com/image/51c9b5486bb3f7d715000019/image.jpg);">
			<div class="headercontent home">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 data-scrollreveal="enter top over 1.9s after 0.2s">House Gurú</h1>
							<p class="lead" data-scrollreveal="enter bottom over 1.9s after 0.4s">
								Ofrece y compra servicios 
							</p>
							<a target="_blank" data-scrollreveal="enter bottom over 1.0s after 0.5s" href="/categories/" class="homeimgbtn">¡Compra un servivio ahora!</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- TITLE ENDS -->
		
		<!-- MAIN CONTENT BEGINS -->
		<div id="homepagetemplate" class="container padtop10 padbot40">
			<div class="row">
				<div class="col-md-12">		
					<div class="clear">
					</div>
					<div class="divider1">
					</div>
					<div class="clear text-center sectionbestseller">
						<h2 class="maintitle">LOS MÁS VENDIDOS </h2>
						<div class="separatr">
							<span style="font-size: 0.77em;text-transform:uppercase;"><i class="fa fa-star"></i>&nbsp; Los servicios preferidos por los gurús &nbsp; <i class="fa fa-star"></i></span>
						</div>
					</div>
					<div class="wowitemboxlist sectionbestseller clear">
					{%for ti in top_info %}
						<div class="wowitembox">
							<div class="wowitemboxinner">
								<div class="imagearea">
									{% if ti.service_image %}
											<img id="service_image" name="service_image" width="555" height="370" src="{{ MEDIA_URL }}{{ ti.get_image }}" class="attachment-post-thumbnail wp-post-image" alt="{{ ti.title }}"/>
                                        {% else %}
                                            <img id="service_image" name="service_image" width="555" height="370" src="{{ MEDIA_URL }}//offered_service//default.jpg" class="attachment-post-thumbnail wp-post-image" alt="No image"/>
                                    {% endif %}
									<div class="caption">
										<div class="blur">
										</div>
										<div class="caption-text">
											<div class="captionbuttons">
												<a href="/serviceoverview/{{ ti.serviceID }}" class="captiondetails"><i class="fa fa-link"></i> Obtener más información</a>
											</div>
										</div>
									</div>
								</div>
								<div class="notesarea">
									<a href="/serviceoverview/{{ ti.serviceID }}">
									<h2>{{ ti.title }}</h2>
									</a>
									<div class="description">
										<p>
										{{ ti.brief_description}}
										</p>
									</div>
									<div class="notesbottom">
										<div class="price fleft">
											$ {{ ti.price}}
										</div>
										<div class="cart fright">
											<a href="/serviceoverview/{{ ti.serviceID }}" class="edd-add-to-cart">
												<span class="edd-add-to-cart-label">Comprar</span>
											</a>
										</div>
										<div class="clearfix">
										</div>
									</div>
								</div>
							</div>
							<!-- .wowitemboxinner-->
						</div>
						{% endfor %}
						<!-- .wowitembox-->
						
						
					</div>
					<!-- .wowitemboxlist-->
				</div>
			</div>
		</div>
		<!-- MAIN CONTENT ENDS -->
		
		<!-- CALL TO ACTION
		================================================== -->
		<div class="actionbeforefooter text-center">
			<div class="container">
				<span><i class="fa fa-star fa-spin"></i> ¡Psst! ¿Todavía no eres un gurú? No te preocupes... </span>
				<a class="actionbutton" href="/register/">¡Regístrate ahora! </a>
			</div>
		</div>
		
		<!-- FOOTER
		================================================== -->
		
		<footer class="themefooter section medium-padding bg-graphite">
		<div class="container">
			<div class="section-inner row">
				
				<div class="column column-1 col-md-4 rightbd">
					<div class="widgets">
						<div class="widget widget_text">
							<div class="widget-content">
								<h3 class="widget-title">Preguntas Frecuentes</h3>
								<div class="textwidget">
									<ul class="edd-taxonomy-widget">
										<li>
											<a href="/about/"> ¿Qué tengo que hacer para ofrecer un servicio?</a>
										</li>
										<li>
											<a href="/about/"> ¿Cuál es el medio de pago?</a>
										</li>
										<li>
											<a href="/about/"> ¿Qué tan protegida está mi información?</a>
										</li>
										<li>
											<a href="/about/"><b>Ir a Preguntas Frecuentes</b></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="clear">
							</div>
						</div>
					</div>
				</div>
				<!-- footer a-->
				<div class="column column-1 col-md-4 rightbd">
					<div class="widgets">
						<div class="widget widget_edd_categories_tags_widget">
							<div class="widget-content">
								<h3 class="widget-title">Categorías de Servicios</h3>
								<ul class="edd-taxonomy-widget">
									<li><a id="jardineria" href="/servicelist/JA">Jardinería</a></li>
									<li><a id="limpieza" href="/servicelist/LO">Limpieza del Hogar</a></li>
									<li><a id="ninera" href="/servicelist/SN">Niñera</a></li>
									<li><a id="mascotas" href="/servicelist/MA">Cuidado de mascotas</a></li>
									<li><a id="comida" href="/servicelist/CO">Comida</a></li>
									<li><a id="otros" href="/servicelist/OT">Otros servicios</a></li>
								</ul>
							</div>
							<div class="clear">
							</div>
						</div>
					</div>
				</div>
				<!-- footer b-->
				<div class="column column-1 col-md-4 rightbd">
					<div class="widgets">
						<div class="widget widget_text">
							<div class="widget-content">
								<h3 class="widget-title">ACERCA DE HOUSE GURÚ</h3>
								<div class="textwidget">
									<p>En House Gurú podrás encontrar una variedad de servicios para tu hogar de manera fácil y rápida.
									</p>
									<p>Comprar es tan sencillo como dar un click. ¿Para qué pasar horas haciendo llamadas para contratar un servicio? ¡Ahora con House Gurú solo te tomará un par de minutos!</p>
								</div>
							</div>
							<div class="clear">
							</div>
						</div>
					</div>
				</div>
				<!-- /footer-c -->
				<div class="clear">
				</div>
			</div>
			<!-- /footer-inner -->
		</div>
		<!-- /grid -->
		<div class="sectioncredits">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<span class="credits-left fleft">
						2015 &copy; All Rights Reserved, WowThemes.net </span>
						<ul class="footermenu fright">
							<li><a href="/">Inicio</a></li>
							<li><a href="/categories/">Sercivios</a></li>
							<li><a href="/offerservice/">Ofecer Servicios</a></li>
						</ul>
					</div>
					<div class="clear">
					</div>
				</div>
			</div>
			<!-- /grid -->
		</div>
		<!-- /sectioncredits -->
		</footer>

		<!-- /footer -->
		<script type='text/javascript' src='{{ MEDIA_URL }}assets/js/jquery.js'></script>
		<script type='text/javascript' src='{{ MEDIA_URL }}assets/js/bootstrap.min.js'></script>
		<script type='text/javascript' src='{{ MEDIA_URL }}assets/js/masonry.js'></script>
		<script type='text/javascript' src='{{ MEDIA_URL }}assets/js/imagesloaded.js'></script>
		<script type='text/javascript' src='{{ MEDIA_URL }}assets/js/SmoothScroll.js'></script>
		<script type='text/javascript' src='{{ MEDIA_URL }}assets/js/init.js'></script>
		<script type='text/javascript' src='{{ MEDIA_URL }}assets/js/anim.js'></script>
	</div>
</body>
</html>